@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-poppins: 'Poppins',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-inter: 'inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
    width: 100vw;
    background-color:#6da6cf;
}
.logo-kei{
    position: absolute;
    width: 250px;
    margin: 40px ;
}
.banner .clouds {
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner .clouds img {
    position: absolute;
    bottom:0;
    width: 100%;
    animation: animate calc(8s * var(--i)) ease-in-out infinite;
}
@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
section{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-buttons{
    width: 30%;
    height: 10%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.drone{
    position: absolute;
    width: 300px;
    right: 10px;
    top:350px;
    animation: bounce infinite 2s ease-in-out;
}


.title-home{
    font-family: var(--font-poppins);
    color: white;
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 20px;
    animation: show 1.5s ease-in-out;
}
@keyframes show {

    to{
        transform: scale(1);
        opacity:.9;
    }
    from{
        transform: scale(1.5);

        opacity: 1;
    }
    
}


.btn{
    background-color:#ff6400;
    color: white;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    z-index: 100;
    transition: all .2s ease-in-out;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    font-family: var(--font-poppins);
    
}
.btn:hover{
    transition: all .2s ease-in-out;
    background-color: #e45b00;
    transform: scale(1.1);
}
.btn:active{
    background-color: #e45b00;
    transition: all .1s ease-in-out;
    transform: scale(1);
    
    
}
.section-problema{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.drone-problema{
    width: 200px;
    position: absolute;
    left: 80px;
    top: 20px;
    animation: bounce 2s infinite ease-in-out;
    animation: move-arround infinite 8s ease-in-out;

}
@keyframes move-arround {
     0% {
        transform: translate(0, 0); /* punto inicial */
    }
    25% {
        transform: translate(635px, 0); /* avanza a la derecha */
    }
    50% {
        transform: translate(635px, 50px); /* baja */        
    }
    75% {
        transform: translate(635px, 0); /* sube */
    }
    100% {
        transform: translate(0, 0); /* regresa al inicio */
    }
    
}
.main-container-article{
    width: 90vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-problema{
    font-family: var(--font-poppins);
    font-size: 2rem;
    letter-spacing: 1px;
    color: #ffffff;
    
    
}
.explicacion-problema{
    font-family: var(--font-inter);
    width:55%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: #ffffff;
    flex-direction: column;
    gap: 40px;
}

.emergencia{
    color: rgb(192, 45, 45);
}
.section-problema button{
    width:500px;
}
.container-button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.explicacion-problema h3{
    font-family: var(--font-poppins);
    font-size:1.5rem;
}
.explicacion-problema p{
    font-size: 1.2rem;
    font-family: 'inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.list{
    font-family: var(--font-inter);
    display: flex;
    padding-left: 15px;
    font-size: 1.2rem;
}

.gallery {
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px #020353;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.342);
}

/* imagen larga horizontal arriba */
.larga-h {
    grid-column: 1 / span 2;
    grid-row: 1;
}

/* imagen larga vertical a la derecha */
.larga-v {
    grid-column: 2;
    grid-row: 2 / span 2;
}

/* imágenes pequeñas abajo izquierda */
.item:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}
.item:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
}

.img-aside{
    display: block;
    transition: transform 0.3s;
    border-radius: 15px;
    
}

.item:hover img{
    transform:scale(1.3);
    border-radius: 20px;    
}

.footer-problema{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
}

.cloud-fixed-bg{
    width: 800px;
    bottom: -50px;
    left: 150px;
    position: absolute;
    opacity: .7;
}
.cloud-fixed-bg2{
    position: absolute;
    width: 800px;
    right: 1px;
    top:100px;
    transform: rotateY(180deg);
    opacity: .5;

}

@keyframes bounce {
    0%{transform: translateY(20px);}

    50%{transform: translateY(40px);}
    
    100%{transform: translateY(20px);}
}

.section-solucion{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.title-solucion-section{
    font-size: 2rem;
    margin-top: 20px;
    color:#ffffff;
}
.kei-colors-solucion{
    color: #ff6400;
}
.explicacion-solucion{
    width: 90%;
    height: 80%;  
}
.contenedor-drones-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 por fila */
    gap: 10px;
    justify-items: center;
    align-items: center;   
}

.img-drones-cards{
    width: 200px;
    z-index:1;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 100%;
    gap: 20px ;
    background-color: #FFFFFF;
    border: 1px solid #01061181;
    z-index:2;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    
}
.cards header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-cards{
    width: 90%;
    display: flex;
    align-items: center;
    font-family: var(--font-inter);
    color: #1e293b;
    justify-content: center;
}
.footer-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    
}

.img-footer{
    width:40px;
    margin-bottom: 10px;
}

.img-header{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    display: block;
    
    
}
.cards-title{
    font-family: var(--font-poppins);
    text-align: center;
    font-size: 1.5rem;
    color: #1e293b;
    
}

.cards:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.06);
    box-shadow: 0 0 15px #020353;
}

.line{
    width: 90%;
    height: 2px;
    background-color: #00000079;
}
.section-video{
    width: 100vw;
    height: 100vh;
}
.container-video{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    z-index: 10;
}
.container-video h1{
    color: white;
    font-size: 2rem;
    font-family: var(--font-poppins);
    margin-bottom: 50px;
}
.drone-guia-video{
    width: 360px;
    position: absolute;
    right: 0;
    animation: drone-up 6s infinite ease-in-out ;
}

@keyframes drone-up {

    0%{transform: translateY(0px);}

    50%{transform: translateY(-400px);}

    80%{transform: translateY(0px);}

    90%{transform:translateX(-80px);}

    100%{transform: translateX(0px);}
    
}


/*Breakpoint laptop*/

@media (min-width: 768px) {
  .contenedor-drones-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    overflow: visible;
    scroll-snap-type: none;
  }

  .track {
    display: contents; /* el div deja de alterar el grid */
  }

  .track .cards {
    scroll-snap-align: none;
  }
}


@media (max-width: 1280px) {
    .navbar-buttons{
        width:40% ;
    }
    .title-home{
        font-size: 1.8rem;
        margin-top: 20%;
    }
    .logo-kei{
        width: 200px;
    
    }
    .drone{
        top:120px;
        width: 200px;
    }
    .title-problema{
        font-size: 1.4rem;
    }
    .section-solucion{
        height: 200vh;
    }
    .section-problema h3{
        font-size: 1.3rem;
    }
    .explicacion-problema{
        gap: 15px;
        margin-top: 50px;
    }
    .section-problema p{
        font-size: 1.25rem;
    }
    .drone-problema{
        width: 150px;
        top: 0px;
    }
    @keyframes move-arround{
        0% {transform: translate(0, 0); /* punto inicial */}

        25% {transform: translate(455px, 0); /* avanza a la derecha */}

        50% {transform: translate(455px,10px); /* baja */}

        75% {transform: translate(455px, 0); /* sube */}

        100% {transform: translate(0, 0); /* regresa al inicio */}

    }
    .cards{
        width: 70%;
        gap: 10px;    
    }
    .img-drones-cards{
        width: 100px;
    }
    .section-solucion{
        gap: 5px;
        justify-content: flex-start;
    }
    .cloud-fixed-bg{
        width: 700px;
        bottom: -150px;
        left: 10px;
        position: absolute;
        opacity: .7;
    }
    .cloud-fixed-bg2{
        width: 400px;
        right: 1px;
        top:100px;
        transform: rotateY(180deg);
        opacity: .5;

    }
    .container-video h1{
        font-size: 2rem;
    }
    .drone-guia-video{
        right: -100px;
        
    }
    
    
}

@media (max-width: 375px) {
    .contenedor-logo img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-kei{
        position: none;
        width: 130px; /* más pequeño que en 376–425 */
    }
    .drone{
        width: 90px;
    }
    .title-home{
        font-size: 1rem;
        text-align: center;
    }
    .navbar-buttons{
        width: 100%;
    }
    .btn{
        width: 110px;
        font-size: 0.9rem;
    }
    .section-problema{
        height: 100vh;
    }
    .title-problema{
        font-size: 1rem;
        text-align: left;
    }
    .drone-problema{
        width: 90px;
    }
    @keyframes move-arround{
        0% {transform: translate(0, 0);}
        25% {transform: translate(180px, 0);}
        50% {transform: translate(180px,10px);}
        75% {transform: translate(180px, 0);}
        100% {transform: translate(0, 0);}
    }
    .cloud-fixed-bg, .cloud-fixed-bg2{
        width: 200px;
        opacity: 1;
        position: absolute;
        bottom:0;
    }
    .section-solucion{
        flex-direction: column;
        height: 100vh;
    }
    .main-container-article{
        flex-direction: column;
    }
    .explicacion-problema{
        flex-direction: column;
        width: 100%;
    }
    .explicacion-problema p{
        font-size: 1rem;
    }
    .explicacion-problema h3{
        font-size: 1rem;
    }
    .explicacion-problema h3:nth-child(1){
        opacity: 0;
        position: absolute;
    }
    .gallery{
        opacity: 1;
        width: 100%;
        gap:5px;
        display: flex;
        flex-direction: column;
    }
    .container-button{
        width: 90%;
        bottom: 150px;
        position: absolute;
    }
    .item{
        height: 180px;
    }
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3){
        opacity: 0;
        position: absolute;
        background-size: 0;
    }
    .img-drones-cards{
        opacity: 0;
        position: absolute;
    }
    .contenedor-drones-cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        padding-bottom: 1rem;
    }

    .track {
        display: flex;
        gap: 10px;
    }

    .track .cards {
        flex: 0 0 80%;
        scroll-snap-align: start;
    }
    .explicacion-solucion{
        height: 60%;
        align-content: center;
    }
    .container-video{
        height: 30%;
    }
    .container-video iframe{
        width: 90%;
        height: 140px;
    }
    .container-video h1{
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.3rem;        
    }
    .drone-guia-video{
        opacity: 0;
        position: absolute;
        width: 0px;
    }
    @keyframes drone-up{
        50%{transform: translateY(-150px);}
    }
}


@media (min-width:376px) and (max-width:425px) {
    .contenedor-logo img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-kei{
        position:none;
        width: 150px;
    }
    .drone{
        width: 100px;
    }
    .title-home{
        font-size: 1.2rem;
        text-align: center;
    }
    .navbar-buttons{
        width: 100%;
    }
    .btn{
        width: 120px;
        font-size: 1rem;
    }
    .navbar-buttons{
        width: 80%;
    }
    .section-problema{
        height: 100vh;
    }
    .title-problema{
        font-size: 1.2rem;
        text-align: left;
    }
    .drone-problema{
        width: 100px;
    }
        @keyframes move-arround{
        0% {transform: translate(0, 0); /* punto inicial */}

        25% {transform: translate(200px, 0); /* avanza a la derecha */}

        50% {transform: translate(200px,10px); /* baja */}

        75% {transform: translate(200px, 0); /* sube */}

        100% {transform: translate(0, 0); /* regresa al inicio */}

    }
   
    .cloud-fixed-bg, .cloud-fixed-bg2{
        width: 225px;
        opacity: 1;
        position: absolute;
        bottom:0;
    }
    .section-solucion{
        flex-direction: column;
        height: 100vh;
    }
    .main-container-article{
        flex-direction: column;
    }
    .explicacion-problema{
        width: 100%;
    }
    .explicacion-problema p{
        font-size: 1.2rem;
    }
    .explicacion-problema h3{
        font-size: 1.1rem;
    }
    .explicacion-problema h3:nth-child(1){
        opacity: 0;
        position: absolute;
    }
    .gallery{
        opacity: 1;
        width: 100%;
        gap:5px;
        display: flex;
        flex-direction: column;
    }
    
    .container-button{
        width: 90%;
        bottom: 100px;
        position: absolute;
    }
    
    .item{
        height: 200px;
    }
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3){
        opacity: 0;
        position: absolute;
        background-size: 0;
    }
    .img-drones-cards{
        opacity: 0;
        position: absolute;
    }
    .contenedor-drones-cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        padding-bottom: 1rem; /* opcional para espacio inferior */
    }

    .track {
        display: flex;
        gap: 10px; /* separación entre cards */
    }

    .track .cards {
        flex: 0 0 80%; /* cada card ocupa 80% del ancho del móvil */
        scroll-snap-align: start;
    }
    .explicacion-solucion{
        height: 60%;
        align-content: center;
    }

    
    .container-video{
        height: 30%;
    }
    .container-video iframe{
        width: 90%;
        height: 150px;
    }
    .container-video h1{
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;        
    }
    .drone-guia-video{
        opacity: 0;
        position: absolute;
        width: 0px;
    }
    @keyframes drone-up{    
        50%{transform: translateY(-150px);}
        
    }
    
}

